@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  box-sizing: border-box;
  /* The Font Choice */
  font-family: 'Poppins', Arial, sans-serif;

  /* The "Sharpness" Settings */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

